mixin list(id, items)
	each val, index in items
		div(id=index)
			div(class='id')= val.id
			div(class='title')= val.title
			div !{val.body}
			if val.url
				div(class='url')= val.url
			else
				div(class='hide')
			div(class='userId')= val.userId
			div(class='createdAt')= val.createdAt

mixin pagination(items)
	each val, index in items
		= val.item
