mixin list(id, items)
	each val, index in items
		ul(id=index)
			li(class='id')= val.id
			li(class='title')= val.title
			li !{val.body}
			if val.url
				li(class='url')= val.url
			else
				li(class='hide')
			li(class='userId')= val.userId
			li(class='createdAt')= val.createdAt
